# SQL Server
DATABASE_ENGINE=SqlServer
PATHBASE=""
OVERRIDE_EXISTING_DATABASE=false
IGNORES_CERTIFICATE_ERRORS=true
SQLSERVER_BAK_FILE="./Ods_Minimal_Template.bak"
EDFI_MASTER="Data Source=host.docker.internal;Initial Catalog=master;User ID=sa;Password=1StrongPwd!!;Trusted_Connection=false;Encrypt=True;TrustServerCertificate=True;Persist Security Info=True;"
EDFI_ODS="Data Source=host.docker.internal;Initial Catalog={0};User ID=sa;Password=1StrongPwd!!;Trusted_Connection=false;Encrypt=True;TrustServerCertificate=True;Persist Security Info=True;"
ACCESS_TOKEN_URL="https://host.docker.internal/auth/realms/edfi-admin-console/protocol/openid-connect/token"
ADMINCONSOLE_TENANTS_URL="https://host.docker.internal/adminapi/adminconsole/tenants"
ADMINCONSOLE_INSTANCES_URL="https://host.docker.internal/adminapi/adminconsole/instances?status={0}"
ADMINCONSOLE_COMPLETE_INSTANCES_URL="https://host.docker.internal/adminapi/adminconsole/instances/{0}/completed"
ADMINCONSOLE_DELETED_INSTANCES_URL="https://host.docker.internal/adminapi/adminconsole/instances/{0}/deleted"
ADMINCONSOLE_DELETEFAILED_INSTANCES_URL="https://host.docker.internal/adminapi/adminconsole/instances/{0}/deletefailed"
USER_NAME=
CLIENTID=adminconsole-worker-client
CLIENT_SECRET=7tpYh5eZtL0ct99cmfCXUY3q5o2KxUTU
PASSWORD=
GRANTTYPE=client_credentials
SCOPE=edfi_admin_api/full_access